services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: db_name
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "5432:5432"

  # backend:
  #   image: symoney/quonet-backend:latest
  #   container_name: quonet-backend
  #   restart: unless-stopped
  #   depends_on:
  #     - postgres
  #     - redis
  #   env_file:
  #     - .env.production
  #   ports:
  #     - "127.0.0.1:8000:8000"

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_data:
