services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: db_name
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    image: symoney/quonet-backend:latest
    container_name: quonet-backend
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.production
    ports:
      - "8000:8000"  
  
  redis:
    image: redis:7
    restart: unless-stopped

volumes:
  postgres_data: